<p>customers works!</p>

<div class="d-flex align-items-center">
    <div >
      <svg>
        <rect />
      </svg>
    </div>
    <div >
      <svg>
        <rect />
      </svg>
    </div>
    <div class="">
      <svg>
        <rect />
      </svg>
    </div>
    <div class="">
      <svg>
        <rect />
      </svg>
    </div>
  </div>
  
  <div class="flex-container d-flex flex-row justify-content-left flex-wrap">
     
    <div >
      <svg>
        <rect />
      </svg>
    </div>
    <div>
      <svg>
        <rect />
      </svg>
    </div>
    <div>
      <svg>
        <rect />
      </svg>
    </div>
    <div>
      <svg>
        <rect />
      </svg>
    </div>
    <div>
      <svg>
        <rect />
      </svg>
    </div>
    <div>
      <svg>
        <rect />
      </svg>
    </div>
  
  </div>
  