<p>dashboard works!</p>
<div class="container">
  <div class="table-responsive">
    <table class="table table-primary">
      <tr class="">
        <td class="table-secondary">
          <svg>
            <rect />
          </svg>
        </td>
        <td class="table-success">
          <svg>
            <rect />
          </svg>
        </td>
        <td class="table-danger">
          <svg>
            <rect />
          </svg>
        </td>
      </tr>
      <tr>
        <td class="table-warning">
          <svg>
            <rect />
          </svg>
        </td>

        <td class="table-light">
          <svg>
            <rect />
          </svg>
        </td>
        <td class="table-primary">
          <svg>
            <rect />
          </svg>
        </td>
      </tr>
    </table>
  </div>
</div>
